/.bundle
/_site
/coverage
/log
!/log/.keep
/node_modules
/public/assets
/public/files
/public/packs
/public/packs-test
/public/system
/spec/dummy/log
/spec/dummy/public/assets
/spec/dummy/public/files
/spec/dummy/public/packs
/spec/dummy/tmp
/storage
/tmp
/yarn-error.log

/config/application.yml
/config/master.key
/spec/examples.txt
/spec/dummy/config/application.yml
!/storage/.keep
!/tmp/.keep

.byebug_history
.DS_Store
.idea
.yarn-integrity
yarn-debug.log*

